name: CI/CD PROD Pipeline workflow

on:
  # Trigger on Pushes to Main (Production Deploy)
  push:
    branches:
      - main
  # Trigger on PRs to Main (Preview Deploys)
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - 'hotfix/*'
jobs:
  # JOB 1: Test checkout actions
  test:
    name: Run PROD Tests
    runs-on: ubuntu-latest
    environment: "PreviewProd"
    env:
      ENV_TYPE: ${{ vars.ENV_TYPE }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
      NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Echo environment name
        run: echo "Environment is $ENV_TYPE"

      - name: Echo github variables
        run: echo "The ref - ${{ github.ref }}, event name - ${{ github.event_name }}, branch name - ${{ github.head_ref }}, name - ${{ github.ref_name}}, main is - ${{ github.ref == github.base_ref}}"

      # 2. Install Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      # 3. Install dependencies
      - name: Install dependencies
        run: npm install

      # 4. Run Linting
      - name: Run Linting
        run: npm run lint

      # # 5. Run Unit Tests for changed files
      # - name: Run tests
      #   run: npm run test -- --changedSince=${{ github.base_ref }}

      # 5. Run Unit Tests to record coverage into json file
      - name: Run tests
        run: npm run test -- --coverageReporters='json-summary'

      - name: Extract Coverage
        id: coverage  # <--- Important: This ID is used to reference outputs later
        run: |
          # Use jq to read the total line coverage percentage
          # You can change '.total.lines.pct' to '.total.statements.pct' etc.
          LINES_PCT=$(jq -r '.total.lines.pct' coverage/coverage-summary.json)
          STATEMENTS_PCT=$(jq -r '.total.statements.pct' coverage/coverage-summary.json)
          BRANCHES_PCT=$(jq -r '.total.branches.pct' coverage/coverage-summary.json)
          FUNCTIONS_PCT=$(jq -r '.total.functions.pct' coverage/coverage-summary.json)

          echo "Current Line Coverage: $LINES_PCT%"
          echo "Current Statement Coverage: $STATEMENTS_PCT%"
          echo "Current Branch Coverage: $BRANCHES_PCT%"
          echo "Current Function Coverage: $FUNCTIONS_PCT%"
          
          # Write to GITHUB_OUTPUT
          echo "lines=$LINES_PCT" >> $GITHUB_OUTPUT
          echo "statements=$STATEMENTS_PCT" >> $GITHUB_OUTPUT
          echo "branches=$BRANCHES_PCT" >> $GITHUB_OUTPUT
          echo "functions=$FUNCTIONS_PCT" >> $GITHUB_OUTPUT

      - name: Check if its PR not from main branch
        if: ${{ (github.event_name == 'pull_request' || github.event_name == 'push' && github.head_ref != 'main') && !endsWith(github.ref, '/merge') && github.ref != 'refs/heads/main' }}
        run: |
          echo "This is a PR and not from main branch. Proceeding with Preview deployment."
          if [[ -z "${{ github.head_ref }}" ]]; then
            CommitRef=${{ github.ref_name}}
          else
            CommitRef=${{ github.head_ref}}
          fi
          echo "CommitRef is $CommitRef"
          npm install --global vercel@latest
          vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
          vercel build --token=${{ secrets.VERCEL_TOKEN }}
          vercel deploy -m githubDeployment="1" -m githubCommitRef=${CommitRef} --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
          exit 0
  # JOB 2: Build and deploy to production
  build:
    runs-on: ubuntu-latest
    environment: "Production"
    env:
      ENV_TYPE: ${{ vars.ENV_TYPE }}
    
    steps:
      - name: Echo environment name
        run: echo "Environment is $ENV_TYPE"
      - name: Check if its push to main branch
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: |
          echo "This is a push to main branch. Deployment will be handled by Vercel automatically in prod environment."